.contacto {

    position:relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:$color-principal;
   color:$color-secundario;
  text-align: center;
  @include relative(100%,)
   font-size: map-get($tamanio-tipografia, parrafos );
  }
  